<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/layout :: body">

<body>
<div class="header">
    <h2>Quản lý nhân viên</h2>
    <button class="btn btn-add">+ Thêm nhân viên</button>
</div>

<div class="card">
    <table>
        <tr>
            <th>Tên</th>
            <th>Vai trò</th>
            <th>Trạng thái</th>
        </tr>

        <tr>
            <td>Admin</td>
            <td>Quản trị</td>
            <td>Hoạt động</td>
        </tr>
    </table>
</div>
</body>
</html>
