<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/layout :: body">

<body>
<div class="header">
    <h2>Quản lý sản phẩm</h2>
    <button class="btn btn-add">+ Thêm sản phẩm</button>
</div>

<div class="card">
    <table>
        <tr>
            <th>Tên</th>
            <th>Giá</th>
            <th>SL</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>

        <tr>
            <td>Áo Thun Test</td>
            <td>500,000 đ</td>
            <td>30</td>
            <td>Đang bán</td>
            <td>
                <button class="btn btn-edit">Sửa</button>
                <button class="btn btn-del">Xóa</button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
